@page "/contact"

<h1>Contact</h1>
<ul>
  <li>Email: hansikai2003@gmail.com</li>
  <li>GitHub: <a href="https://github.com/yuk1neek0" target="_blank">yuk1neek0</a></li>
  <li>LinkedIn: <a href="https://linkedin.com/in/hansikai" target="_blank">hansikai</a></li>
</ul>
